h1, h2, h3, h4, h5, h6, p, em, small, mark,
.#{$scope}h1, .#{$scope}h2,
.#{$scope}h3, .#{$scope}h4,
.#{$scope}h5, .#{$scope}h6,
.#{$scope}paragraph {
  font-family: $global-font-sans;
  margin: 0;
  padding: 0;
}
