.content {
  padding: 16px 0;
  width: 100%;
  background: goldenrod;
}

.content.blue { background: teal; }
.content.red { background: crimson; }
.content.green { background: yellowgreen; }

.gray { background: lightgray; }
.gray .content { background: white; }
