{% include partials/code.html content='
  &lt;div class="small-section grid">
    &lt;div class="row">
      &lt;div class="xsmall-1 xsmall-offset-11 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-2 xsmall-offset-10 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-3 xsmall-offset-9 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-4 xsmall-offset-8 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-5 xsmall-offset-7 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-6 xsmall-offset-6 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-7 xsmall-offset-5 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-8 xsmall-offset-4 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-9 xsmall-offset-3 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-10 xsmall-offset-2 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="xsmall-11 xsmall-offset-1 columns">
        &lt;div class="content">&lt;/div>
      &lt;/div>
      &lt;div class="column">
        &lt;div class="content">&lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>
' %}