<div class="small-section grid">
  <div class="row">

    <div class="xsmall-12 columns">
      <button class="small button">Small Button</button>
      <button class="small">Small Button</button>
      <a class="small button">Link Small Button</a>
      <input class="small button" type="submit" value="Input Small Button" />
      <input class="small" type="submit" value="Input Small Button" />

      <br/>

      <button class="button">Button</button>
      <button class="button">Button</button>
      <a class="button">Link Button</a>
      <input class="button" type="submit" value="Input Button" />
      <input class="button" type="submit" value="Input Button" />

      <br/>

      <button class="medium button">Medium Button</button>
      <button class="medium">Medium Button</button>
      <a class="medium button">Link Medium Button</a>
      <input class="medium button" type="submit" value="Input Medium Button" />
      <input class="medium" type="submit" value="Input Medium Button" />

      <br/>

      <button class="large button">Large Button</button>
      <button class="large">Large Button</button>
      <a class="large button">Link Large Button</a>
      <input class="large button" type="submit" value="Input Large Button" />
      <input class="large" type="submit" value="Input Large Button" />

      <br/>

      <button class="huge button">Huge Button</button>
      <button class="huge">Huge Button</button>
      <a class="huge button">Link Huge Button</a>
      <input class="huge button" type="submit" value="Input Huge Button" />
      <input class="huge" type="submit" value="Input Huge Button" />

      <br/>

      <button disabled class="wide">Disabled Button (no button class)</button>
      <button disabled>Disabled Button (no classes)</button>
      <input class="wide" disabled type="submit" value="Disabled Input Button (no button class)" />
      <input disabled type="submit" value="Disabled Input Button (no classes)" />

      <br/>

      <button disabled class="button">Disabled Button</button>
      <a class="button disabled">Disabled Link Button</a>
      <input class="button" disabled type="submit" value="Disabled Input Button" />

      <br/>

      <button>Button (no classes)</button>
      <input type="submit" value="Input Button (no classes)" />

      <br/>

      <button class="wide button">Wide Button</button>
      <a class="wide button">Link Wide Button</a>
      <input class="wide button" type="submit" value="Input Wide Button" />

      <br/>

      <button class="primary button">Primary Button</button>
      <a class="primary button">Link Primary Button</a>
      <input class="primary button" type="submit" value="Input Primary Button" />

      <br/>

      <button class="secondary button">Secondary Button</button>
      <a class="secondary button">Link Secondary Button</a>
      <input class="secondary button" type="submit" value="Input Secondary Button" />

      <br/>

      <button class="tertiary button">Tertiary Button</button>
      <a class="tertiary button">Link Tertiary Button</a>
      <input class="tertiary button" type="submit" value="Input Tertiary Button" />

      <br/>

      <button class="warning button">Warning Button</button>
      <a class="warning button">Link Warning Button</a>
      <input class="warning button" type="submit" value="Input Warning Button" />

      <br/>

      <button class="success button">Success Button</button>
      <a class="success button">Link Success Button</a>
      <input class="success button" type="submit" value="Input Success Button" />

      <br/>

      <button class="destroy button">Destroy Button</button>
      <a class="destroy button">Link Destroy Button</a>
      <input class="destroy button" type="submit" value="Input Destroy Button" />

      <br/>

      <button class="notice button">Notice Button</button>
      <a class="notice button">Link Notice Button</a>
      <input class="notice button" type="submit" value="Input Notice Button" />
    </div>

    <div class="xsmall-12 columns invert-block">
      <button class="inverted button">Inverted Button</button>
      <a class="inverted button">Link Inverted Button</a>
      <input class="inverted button" type="submit" value="Input Inverted Button" />

      <br/>

      <button class="inverted-outline button">Inverted Outline Button</button>
      <a class="inverted-outline button">Link Inverted Outline Button</a>
      <input class="inverted-outline button" type="submit" value="Input Inverted Outline Button" />
    </div>

    <div class="xsmall-12 columns">
      <a href="#0" class="link">This is a link!</a>
    </div>

    <div class="xsmall-12 columns">
      <a href="#0">This is a link! (no classes)</a>
    </div>

  </div>
</div>
