<div class="small-section grid">
  <div class="row">

    <div class="xsmall-12 columns">
      <form class="form">
        <label class="label" for="form">
          Input Field
          <input class="text-field" type="text" />
        </label>

        <label for="form">
          Input Field (no classes)
          <input type="text" />
        </label>

        <label class="label" for="form">
          Text Area
          <textarea class="text-area" type="text"></textarea>
        </label>

        <label for="form">
          Text Area (no classes)
          <textarea type="text"></textarea>
        </label>

        <label class="label" for="form">
          Disabled Text Field
          <input class="text-field disabled" disabled="" type="text" />
        </label>

        <label class="label" for="form">
          Disabled Text Area
          <textarea class="text-area disabled" disabled="" type="text"></textarea>
        </label>

        <label for="form">
          Disabled Text Field (no classes)
          <input disabled="" type="text" />
        </label>

        <label for="form">
          Disabled Text Area (no classes)
          <textarea disabled="" type="text"></textarea>
        </label>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form class="form">
        <label class="label" for="form">
          Radio Column
        </label>

        <div class="radio-column">
          <label class="radio-label">
            <input class="radio" name="gender" type="radio" value="male" />
            Male
          </label>

          <label class="radio-label">
            <input class="radio" name="gender" type="radio" value="female" />
            Female
          </label>

          <label class="radio-label">
            <input class="radio" name="gender" type="radio" value="other" />
            Other
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form class="form">
        <label class="label" for="form">
          Radio Row
        </label>

        <div class="radio-row">
          <label class="radio-label">
            <input class="radio" name="gender" type="radio" value="male" />
            Male
          </label>

          <label class="radio-label">
            <input class="radio" name="gender" type="radio" value="female" />
            Female
          </label>

          <label class="radio-label">
            <input class="radio" name="gender" type="radio" value="other" />
            Other
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form>
        <label for="form">
          Radio Column (no classes)
        </label>

        <div class="radio-column">
          <label>
            <input name="gender" type="radio" value="male" />
            Male
          </label>

          <label>
            <input name="gender" type="radio" value="female" />
            Female
          </label>

          <label>
            <input name="gender" type="radio" value="other" />
            Other
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form>
        <label for="form">
          Radio Row (no classes)
        </label>

        <div class="radio-row">
          <label>
            <input name="gender" type="radio" value="male" />
            Male
          </label>

          <label>
            <input name="gender" type="radio" value="female" />
            Female
          </label>

          <label>
            <input name="gender" type="radio" value="other" />
            Other
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form class="form">
        <label class="label" for="form">
          Checkboxes Column
        </label>

        <div class="checkbox-column">
          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Mario
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Fox
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Marth
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Mega Man
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Pikachu
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form class="form">
        <label class="label" for="form">
          Checkboxes Row
        </label>

        <div class="checkbox-row">
          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Mario
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Fox
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Marth
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Mega Man
          </label>

          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" />
            Pikachu
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form>
        <label for="form">
          Checkboxes Column (no classes)
        </label>

        <div class="checkbox-column">
          <label><input type="checkbox" />
            Mario
          </label>

          <label>
            <input type="checkbox" />
            Fox
          </label>

          <label>
            <input type="checkbox" />
            Marth
          </label>

          <label>
            <input type="checkbox" />
            Mega Man
          </label>

          <label>
            <input type="checkbox" />
            Pikachu
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form>
        <label for="form">
          Checkboxes Row (no classes)
        </label>

        <div class="checkbox-row">
          <label>
            <input type="checkbox" />
            Mario
          </label>

          <label>
            <input type="checkbox" />
            Fox
          </label>

          <label>
            <input type="checkbox" />
            Marth
          </label>

          <label>
            <input type="checkbox" />
            Mega Man
          </label>

          <label>
            <input type="checkbox" />
            Pikachu
          </label>
        </div>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form class="form">
        <fieldset class="fieldset">
          <legend class="legend">
            Fieldset &amp; Legend
          </legend>

          <label class="label" for="form">
            Email
            <input class="text-field" type="email" />
          </label>

          <label class="label" for="form">
            Password
            <input class="text-field" type="password" />
          </label>

          <input class="button" type="submit" value="Submit" />
        </fieldset>
      </form>
    </div>

    <div class="xsmall-12 columns">
      <form>
        <fieldset>
          <legend>
            Fieldset &amp; Legend (no classes)
          </legend>

          <label for="form">
            Email
            <input type="email" />
          </label>

          <label for="form">
            Password
            <input type="password" />
          </label>

          <input type="submit" value="Submit" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
