<header class="narrow medium-section grid">
  <div class="row">

    <div class="xsmall-12 column">
      <h1 class="h3">Monolith</h1>
    </div>

    <div class="xsmall-12 column">
      <h2 class="h6">A super-powered CSS grid built for any page layout imaginable.</h2>
    </div>

    <div class="medium-6 xsmall-12 columns">
      <a class="wide large primary button" href="https://github.com/gtreviranus/monolith/blob/master/css/styles.scss">
        Quick-Start CSS <span class="lnr lnr-chevron-right"></span>
      </a>
    </div>

    <div class="medium-6 xsmall-12 columns">
      <a class="wide large button" href="https://github.com/gtreviranus/monolith">
        View Source &amp; Contribute <span class="lnr lnr-chevron-right"></span>
      </a>
    </div>


  </div>
</header>
