<div class="narrow grid">
  <div class="row">

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#list">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#type">Typography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#grid">Grid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buttons">Buttons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#forms">Forms</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
