{% include partials/section_header.html content="Basic Typography" id="type" %}

<div class="small-section wide grid">
  <div class="row">
    <div class="xsmall-12 medium-6 columns">
      <h1 class="h1">Header 1</h1>
      <h1>Header 1 <small>(no classes)</small></h1>
    </div>
    <div class="xsmall-12 medium-6 columns">
      <h2 class="h2">Header 2</h2>
      <h2>Header 2 <small>(no classes)</small></h2>
    </div>
    <div class="xsmall-12 medium-6 columns">
      <h3 class="h3">Header 3</h3>
      <h3>Header 3 <small>(no classes)</small></h3>
    </div>
    <div class="xsmall-12 medium-6 columns">
      <h4 class="h4">Header 4</h4>
      <h4>Header 4 <small>(no classes)</small></h4>
    </div>
    <div class="xsmall-12 medium-6 columns">
      <h5 class="h5">Header 5</h5>
      <h5>Header 5 <small>(no classes)</small></h5>
    </div>
    <div class="xsmall-12 medium-6 columns">
      <h6 class="h6">Header 6</h6>
      <h6>Header 6 <small>(no classes)</small></h6>
    </div>
  </div>
</div>

<div class="grid">
  {% include mono/type/type_demo_1.html %}
</div>

<div class="small-section wide grid">
  <div class="row">
    <div class="xsmall-12 columns">
      <p>
        <em>Smooth, thick and viscous on the palate,</em> with a full and robust body. <strong>For a moment,</strong> it's sweet and tropical, <code>then hops rush in and tear it all to shreds!</code> The lip-smacking hop profile roams all over the place, as a sticky pine and a slightly burnt resinous coating forms on the palate. Intensely spicy, with a big grape-fruity zest and a sugary, warming alcohol that smacks you upside the head for noticing it. Malt-wise, caramel and bread flavors clamor to be heard, but the hops entangle them and draw them back into the depths of the brew, where they die. Malt flavors are there, but they add sweetness and body versus anything distinct enough to challenge the hops.
      </p>
    </div>
  </div>
</div>

<div class="grid">
  {% include mono/type/type_demo_2.html %}
</div>
