@mixin breakpoint-up($size) {
  @media screen and (min-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size) - 1}) {
    @content;
  }
}

@mixin breakpoint-only($min, $max) {
  @media screen
    and (min-width: #{map-get($breakpoints, $min)})
    and (max-width: #{map-get($breakpoints, $max) - 1}) {
      @content;
  }
}

@mixin button() {

}

@mixin button-state(
  $name,
  $color, $background, $border-color, $box-shadow,
  $color-hover, $background-hover, $border-color-hover, $box-shadow-hover,
  $color-active, $background-active, $border-color-active, $box-shadow-active
) {
  &.#{$scope}#{$name} {
    background: $background;
    border-color: $border-color;
    box-shadow: $box-shadow;
    color: $color;

    &:visited {
      background: $background;
      border-color: $border-color;
      box-shadow: $box-shadow;
      color: $color;
    }

    &:focus, &:hover {
      background: $background-hover;
      border-color: $border-color-hover;
      box-shadow: $box-shadow-hover;
      color: $color-hover;
    }

    &:active {
      background: $background-active;
      border-color: $border-color-active;
      box-shadow: $box-shadow-active;
      color: $color-active;
    }
  }
}
