.grid::before,
.grid::after,
.grid .row::before,
.grid .row::after,
.row .column::before, .row .column::after,
.row .columns::before, .row .columns::after {
  display: block;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0; }

.grid {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: 992px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative; }

.row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  position: relative;
  width: 100%; }

.columns, .column {
  box-sizing: border-box;
  flex: 1 0 100%;
  max-width: 100%;
  min-height: 1px;
  min-width: 0;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  word-wrap: break-word;
  order: 999; }

@media screen and (min-width: 0) {
  .xsmall-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .xsmall-offset-1 {
    margin-left: 8.3333333333%; }

  .xsmall-order-1 {
    order: 1; }

  .xsmall-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .xsmall-offset-2 {
    margin-left: 16.6666666667%; }

  .xsmall-order-2 {
    order: 2; }

  .xsmall-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .xsmall-offset-3 {
    margin-left: 25%; }

  .xsmall-order-3 {
    order: 3; }

  .xsmall-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .xsmall-offset-4 {
    margin-left: 33.3333333333%; }

  .xsmall-order-4 {
    order: 4; }

  .xsmall-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .xsmall-offset-5 {
    margin-left: 41.6666666667%; }

  .xsmall-order-5 {
    order: 5; }

  .xsmall-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .xsmall-offset-6 {
    margin-left: 50%; }

  .xsmall-order-6 {
    order: 6; }

  .xsmall-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .xsmall-offset-7 {
    margin-left: 58.3333333333%; }

  .xsmall-order-7 {
    order: 7; }

  .xsmall-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .xsmall-offset-8 {
    margin-left: 66.6666666667%; }

  .xsmall-order-8 {
    order: 8; }

  .xsmall-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .xsmall-offset-9 {
    margin-left: 75%; }

  .xsmall-order-9 {
    order: 9; }

  .xsmall-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .xsmall-offset-10 {
    margin-left: 83.3333333333%; }

  .xsmall-order-10 {
    order: 10; }

  .xsmall-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .xsmall-offset-11 {
    margin-left: 91.6666666667%; }

  .xsmall-order-11 {
    order: 11; }

  .xsmall-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .xsmall-offset-12 {
    margin-left: 100%; }

  .xsmall-order-12 {
    order: 12; } }
@media screen and (min-width: 576px) {
  .small-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .small-offset-1 {
    margin-left: 8.3333333333%; }

  .small-order-1 {
    order: 1; }

  .small-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .small-offset-2 {
    margin-left: 16.6666666667%; }

  .small-order-2 {
    order: 2; }

  .small-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .small-offset-3 {
    margin-left: 25%; }

  .small-order-3 {
    order: 3; }

  .small-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .small-offset-4 {
    margin-left: 33.3333333333%; }

  .small-order-4 {
    order: 4; }

  .small-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .small-offset-5 {
    margin-left: 41.6666666667%; }

  .small-order-5 {
    order: 5; }

  .small-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .small-offset-6 {
    margin-left: 50%; }

  .small-order-6 {
    order: 6; }

  .small-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .small-offset-7 {
    margin-left: 58.3333333333%; }

  .small-order-7 {
    order: 7; }

  .small-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .small-offset-8 {
    margin-left: 66.6666666667%; }

  .small-order-8 {
    order: 8; }

  .small-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .small-offset-9 {
    margin-left: 75%; }

  .small-order-9 {
    order: 9; }

  .small-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .small-offset-10 {
    margin-left: 83.3333333333%; }

  .small-order-10 {
    order: 10; }

  .small-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .small-offset-11 {
    margin-left: 91.6666666667%; }

  .small-order-11 {
    order: 11; }

  .small-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .small-offset-12 {
    margin-left: 100%; }

  .small-order-12 {
    order: 12; } }
@media screen and (min-width: 768px) {
  .medium-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .medium-offset-1 {
    margin-left: 8.3333333333%; }

  .medium-order-1 {
    order: 1; }

  .medium-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .medium-offset-2 {
    margin-left: 16.6666666667%; }

  .medium-order-2 {
    order: 2; }

  .medium-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .medium-offset-3 {
    margin-left: 25%; }

  .medium-order-3 {
    order: 3; }

  .medium-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .medium-offset-4 {
    margin-left: 33.3333333333%; }

  .medium-order-4 {
    order: 4; }

  .medium-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .medium-offset-5 {
    margin-left: 41.6666666667%; }

  .medium-order-5 {
    order: 5; }

  .medium-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .medium-offset-6 {
    margin-left: 50%; }

  .medium-order-6 {
    order: 6; }

  .medium-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .medium-offset-7 {
    margin-left: 58.3333333333%; }

  .medium-order-7 {
    order: 7; }

  .medium-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .medium-offset-8 {
    margin-left: 66.6666666667%; }

  .medium-order-8 {
    order: 8; }

  .medium-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .medium-offset-9 {
    margin-left: 75%; }

  .medium-order-9 {
    order: 9; }

  .medium-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .medium-offset-10 {
    margin-left: 83.3333333333%; }

  .medium-order-10 {
    order: 10; }

  .medium-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .medium-offset-11 {
    margin-left: 91.6666666667%; }

  .medium-order-11 {
    order: 11; }

  .medium-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .medium-offset-12 {
    margin-left: 100%; }

  .medium-order-12 {
    order: 12; } }
@media screen and (min-width: 992px) {
  .large-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .large-offset-1 {
    margin-left: 8.3333333333%; }

  .large-order-1 {
    order: 1; }

  .large-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .large-offset-2 {
    margin-left: 16.6666666667%; }

  .large-order-2 {
    order: 2; }

  .large-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .large-offset-3 {
    margin-left: 25%; }

  .large-order-3 {
    order: 3; }

  .large-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .large-offset-4 {
    margin-left: 33.3333333333%; }

  .large-order-4 {
    order: 4; }

  .large-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .large-offset-5 {
    margin-left: 41.6666666667%; }

  .large-order-5 {
    order: 5; }

  .large-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .large-offset-6 {
    margin-left: 50%; }

  .large-order-6 {
    order: 6; }

  .large-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .large-offset-7 {
    margin-left: 58.3333333333%; }

  .large-order-7 {
    order: 7; }

  .large-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .large-offset-8 {
    margin-left: 66.6666666667%; }

  .large-order-8 {
    order: 8; }

  .large-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .large-offset-9 {
    margin-left: 75%; }

  .large-order-9 {
    order: 9; }

  .large-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .large-offset-10 {
    margin-left: 83.3333333333%; }

  .large-order-10 {
    order: 10; }

  .large-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .large-offset-11 {
    margin-left: 91.6666666667%; }

  .large-order-11 {
    order: 11; }

  .large-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .large-offset-12 {
    margin-left: 100%; }

  .large-order-12 {
    order: 12; } }
@media screen and (min-width: 1200px) {
  .xlarge-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .xlarge-offset-1 {
    margin-left: 8.3333333333%; }

  .xlarge-order-1 {
    order: 1; }

  .xlarge-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .xlarge-offset-2 {
    margin-left: 16.6666666667%; }

  .xlarge-order-2 {
    order: 2; }

  .xlarge-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .xlarge-offset-3 {
    margin-left: 25%; }

  .xlarge-order-3 {
    order: 3; }

  .xlarge-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .xlarge-offset-4 {
    margin-left: 33.3333333333%; }

  .xlarge-order-4 {
    order: 4; }

  .xlarge-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .xlarge-offset-5 {
    margin-left: 41.6666666667%; }

  .xlarge-order-5 {
    order: 5; }

  .xlarge-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .xlarge-offset-6 {
    margin-left: 50%; }

  .xlarge-order-6 {
    order: 6; }

  .xlarge-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .xlarge-offset-7 {
    margin-left: 58.3333333333%; }

  .xlarge-order-7 {
    order: 7; }

  .xlarge-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .xlarge-offset-8 {
    margin-left: 66.6666666667%; }

  .xlarge-order-8 {
    order: 8; }

  .xlarge-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .xlarge-offset-9 {
    margin-left: 75%; }

  .xlarge-order-9 {
    order: 9; }

  .xlarge-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .xlarge-offset-10 {
    margin-left: 83.3333333333%; }

  .xlarge-order-10 {
    order: 10; }

  .xlarge-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .xlarge-offset-11 {
    margin-left: 91.6666666667%; }

  .xlarge-order-11 {
    order: 11; }

  .xlarge-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .xlarge-offset-12 {
    margin-left: 100%; }

  .xlarge-order-12 {
    order: 12; } }
.grid.fluid {
  max-width: 100%; }
.grid.narrow {
  max-width: 768px; }
.grid.wide {
  max-width: 1200px; }
.grid.small-section {
  padding-top: 48px;
  padding-bottom: 48px; }
.grid.medium-section {
  padding-top: 96px;
  padding-bottom: 96px; }
.grid.large-section {
  padding-top: 144px;
  padding-bottom: 144px; }
.grid .fullscreen {
  box-sizing: border-box;
  height: 100vh;
  max-width: unset;
  width: 100vw; }
  .grid .fullscreen .row {
    flex: 1 1 auto; }
  .grid .fullscreen .row.align-bottom {
    align-content: flex-end; }
  .grid .fullscreen .row.align-middle {
    align-content: center; }
  .grid .fullscreen .row.align-top {
    align-content: flex-start; }

.row.collapsed .columns, .row.collapsed .column {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

form,
.form {
  margin: 0 0 25px 0;
  padding: 16px;
  background: transparent;
  box-shadow: none;
  border: none; }

label,
.label {
  display: flex;
  flex-direction: column;
  font-family: sans-serif; }

input[type=text],
.text-field, .text-area {
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  box-shadow: none;
  border: 1px solid darkgray;
  padding: 12px;
  margin: 8px 0 16px 0;
  border-radius: 4px;
  background: white; }

textarea, input[type=text],
.text-area {
  resize: vertical; }

input[type=button], input[type=submit], button,
.button {
  display: flex;
  font-family: sans-serif;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  background: gray;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer; }
  input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus,
  .button:hover,
  .button:focus {
    background-color: #9a9a9a; }
  input[type=button].stretched, input[type=submit].stretched, button.stretched,
  .button.stretched {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 100%; }

input[type=radio], input[type=checkbox],
.radio, .checkbox {
  cursor: pointer;
  font-family: sans-serif; }

input[type=checkbox],
.checkbox,
input[type=radio],
.radio {
  padding: 0;
  margin: 0 12px 0 0; }

.radio-row, .checkbox-row,
.radio-column, .checkbox-column {
  display: flex;
  margin-top: 8px; }
  .radio-row label,
  .radio-row .radio-label, .radio-row .checkbox-label, .checkbox-row label,
  .checkbox-row .radio-label, .checkbox-row .checkbox-label,
  .radio-column label,
  .radio-column .radio-label,
  .radio-column .checkbox-label, .checkbox-column label,
  .checkbox-column .radio-label, .checkbox-column .checkbox-label {
    margin-right: 12px;
    align-items: center;
    flex-direction: row; }

.radio-column, .checkbox-column {
  flex-direction: column; }

.radio-row, .checkbox-row {
  flex-direction: row; }

.radio-row .radio,
.radio-row input[type=radio] {
  margin-right: 12px; }

.checkbox-row .checkbox,
.checkbox-row input[type=checkbox] {
  margin-right: 12px; }

.radio-column label,
.radio-column .radio-label {
  margin-bottom: 16px; }

.checkbox-column label,
.checkbox-column .checkbox-label {
  margin-bottom: 16px; }

fieldset,
.fieldset {
  display: flex;
  margin: 0;
  padding: 32px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: none;
  background: transparent; }
  fieldset legend,
  fieldset .legend,
  .fieldset legend,
  .fieldset .legend {
    font-family: sans-serif;
    font-size: 16px;
    padding: 8px;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: black; }

input[type=text]:disabled, button:disabled,
.text-field:disabled, .text-area:disabled,
.button:disabled,
.disabled {
  background: lightgray;
  color: gray;
  border: none;
  cursor: not-allowed;
  resize: none; }
  input[type=text]:disabled:hover, button:disabled:hover,
  .text-field:disabled:hover, .text-area:disabled:hover,
  .button:disabled:hover,
  .disabled:hover {
    background: lightgray;
    color: gray;
    border: none; }

/*# sourceMappingURL=monolith.css.map */
