@import "monolith/monolith";

.content {
  padding: 16px 0;
  width: 100%;
  background: lightgray;
}

.invert-block {
  background: black;
  padding: 1rem;
  margin: 16px 0;
}

.content.blue { background: teal; }
.content.red { background: crimson; }
.content.green { background: green; }

.gray { background: lightgray; }
.gray .content { background: white; }
