{% include partials/code.html
  content='
  &lt;form class="form">
    &lt;label class="label" for="form">
      Disabled Text Field
      &lt;input class="text-field disabled" disabled="" type="text" />
    &lt;/label>

    &lt;label class="label" for="form">
      Disabled Text Area
      &lt;textarea class="text-area disabled" disabled="" type="text">&lt;/textarea>
    &lt;/label>

    &lt;label for="form">
      Disabled Text Field (no classes)
      &lt;input disabled="" type="text" />
    &lt;/label>

    &lt;label for="form">
      Disabled Text Area (no classes)
      &lt;textarea disabled="" type="text">&lt;/textarea>
    &lt;/label>
  &lt;/form>
'%}
