{% include partials/code.html
  content='
  &lt;form>
    &lt;label for="form">
      Checkboxes Row (no classes)
    &lt;/label>

    &lt;div class="checkbox-row">
      &lt;label>
        &lt;input type="checkbox" />
        Mario
      &lt;/label>

      &lt;label>
        &lt;input type="checkbox" />
        Fox
      &lt;/label>

      &lt;label>
        &lt;input type="checkbox" />
        Marth
      &lt;/label>

      &lt;label>
        &lt;input type="checkbox" />
        Mega Man
      &lt;/label>

      &lt;label>
        &lt;input type="checkbox" />
        Pikachu
      &lt;/label>
    &lt;/div>
  &lt;/form>
'%}
