{% include partials/code.html
  content='
  &lt;form class="form">
    &lt;label class="label" for="form">
      Checkboxes Row
    &lt;/label>

    &lt;div class="checkbox-row">
      &lt;label class="checkbox-label">
        &lt;input class="checkbox" type="checkbox" />
        Mario
      &lt;/label>

      &lt;label class="checkbox-label">
        &lt;input class="checkbox" type="checkbox" />
        Fox
      &lt;/label>

      &lt;label class="checkbox-label">
        &lt;input class="checkbox" type="checkbox" />
        Marth
      &lt;/label>

      &lt;label class="checkbox-label">
        &lt;input class="checkbox" type="checkbox" />
        Mega Man
      &lt;/label>

      &lt;label class="checkbox-label">
        &lt;input class="checkbox" type="checkbox" />
        Pikachu
      &lt;/label>
    &lt;/div>
  &lt;/form>
'%}
