{% include partials/code.html
  content='
  &lt;form class="form">
    &lt;label class="label" for="form">
      Input Field
      &lt;input class="text-field" type="text" />
    &lt;/label>

    &lt;label for="form">
      Input Field (no classes)
      &lt;input type="text" />
    &lt;/label>

    &lt;label class="label" for="form">
      Text Area
      &lt;textarea class="text-area" type="text">&lt;/textarea>
    &lt;/label>

    &lt;label for="form">
      Text Area (no classes)
      &lt;textarea type="text">&lt;/textarea>
    &lt;/label>
  &lt;/form>
'%}
