{% include partials/code.html
  content='
  &lt;form>
    &lt;label for="form">
      Radio Column (no classes)
    &lt;/label>

    &lt;div class="radio-column">
      &lt;label>
        &lt;input name="gender" type="radio" value="male" />
        Male
      &lt;/label>

      &lt;label>
        &lt;input name="gender" type="radio" value="female" />
        Female
      &lt;/label>

      &lt;label>
        &lt;input name="gender" type="radio" value="other" />
        Other
      &lt;/label>
    &lt;/div>
  &lt;/form>
'%}
