{% include partials/code.html
  content='
  &lt;form>
    &lt;fieldset>
      &lt;legend>
        Fieldset (no classes)
      &lt;/legend>

      &lt;div class="row">
        &lt;div class="medium-6 xsmall-12 columns">
          &lt;label for="form">
            Email
            &lt;input type="email" />
          &lt;/label>

          &lt;label for="form">
            Password
            &lt;input type="password" />
          &lt;/label>
        &lt;/div>

        &lt;div class="medium-6 xsmall-12 columns">
          &lt;label for="form">
            Address Ln 1
            &lt;input type="email" />
          &lt;/label>

          &lt;label for="form">
            Address Ln 2
            &lt;input type="password" />
          &lt;/label>
        &lt;/div>

        &lt;div class="column">
          &lt;input type="submit" value="Submit" />
        &lt;/div>
      &lt;/div>

    &lt;/fieldset>
  &lt;/form>
'%}
