input[type=button], input[type=submit],
input[type=file], input[type=reset],
button, .#{$scope}button {

  @each $size in $button-sizes {
    $button-size: nth($size, 1);
    $button-padding: map-deep-get($button-sizes, $button-size, padding);
    $button-font-size: map-deep-get($button-sizes, $button-size, font-size);

    &.#{$scope}#{$button-size} {
      font-size: $button-font-size;
      padding: $button-padding;
    }
  }

  &.#{$scope}wide {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  @each $type in $button-types {
    $kind: nth($type, 1);
    $bg: map-deep-get($button-types, $kind, background);
    $bg-hover: map-deep-get($button-types, $kind, background-hover);
    $bg-active: map-deep-get($button-types, $kind, background-active);
    $text: map-deep-get($button-types, $kind, color);
    $text-hover: map-deep-get($button-types, $kind, color-hover);
    $text-active: map-deep-get($button-types, $kind, color-active);
    $bc: map-deep-get($button-types, $kind, border-color);
    $bc-hover: map-deep-get($button-types, $kind, border-color-hover);
    $bc-active: map-deep-get($button-types, $kind, border-color-active);
    $shadow: map-deep-get($button-types, $kind, box-shadow);
    $shadow-hover: map-deep-get($button-types, $kind, box-shadow-hover);
    $shadow-active: map-deep-get($button-types, $kind, box-shadow-active);

    @include button-state(
      $kind,
      $text, $bg, $bc, $shadow,
      $text-hover, $bg-hover, $bc-hover, $shadow-hover,
      $text-active, $bg-active, $bc-active, $shadow-active
    );
  }
}
