// Headers
//
// #{$size} == h1, h2, h3, etc...

h1, h2, h3, h4, h5, h6, p
.h1, .h2, .h3, .h4, .h5, .h6, .paragraph {
  font-family: $global-font;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

@each $name in map-get($typography, headers) {
  $header: nth($name, 1);

  #{$header},
  .#{$header} {
    font-size: map-deep-get($typography, headers, $header, font-size);
    font-style: map-deep-get($typography, headers, $header, font-style);
    font-weight: map-deep-get($typography, headers, $header, font-weight);
    line-height: map-deep-get($typography, headers, $header, line-height);
  }
}

@include breakpoint-up(medium) {
  @each $name in map-get($typography, headers) {
    $header: nth($name, 1);

    #{$header},
    .#{$header} {
      font-size: map-deep-get($typography, headers, $header, font-size) * 1.5;
      line-height: map-deep-get($typography, headers, $header, line-height) * 1.25;
    }
  }
}

@include breakpoint-up(large) {
  @each $name in map-get($typography, headers) {
    $header: nth($name, 1);

    #{$header},
    .#{$header} {
      font-size: map-deep-get($typography, headers, $header, font-size) * 2;
      line-height: map-deep-get($typography, headers, $header, line-height) * 1.5;
    }
  }
}

// Paragraph

p,
.paragraph {
  font-family: $global-font;
  font-size: map-deep-get($typography, paragraph, font-size);
  font-style: map-deep-get($typography, paragraph, font-style);
  font-weight: map-deep-get($typography, paragraph, font-weight);
  line-height: map-deep-get($typography, paragraph, line-height);
  margin-bottom: map-deep-get($typography, paragraph, margin-bottom);
}

em,
.em {
  font-size: inherit;
  font-style: map-deep-get($typography, em, font-style);
  font-weight: map-deep-get($typography, em, font-weight);
}

mark,
.mark {
  padding: map-deep-get($typography, mark, padding);
  background: $mark-bg;
}

small,
.small {
  font-weight: ;
  font-size: ;
}
