// Selector variables

$grid: $scope + map-get($grid-names, grid);
$row: $scope + map-get($grid-names, row);
$column: $scope + map-get($grid-names, column);

// Grid

.#{$grid}::before,
.#{$grid}::after,
.#{$grid} .#{$row}::before,
.#{$grid} .#{$row}::after,
.#{$row} .#{$column}::before, .#{$row} .#{$column}::after,
.#{$row} .#{$column}s::before, .#{$row} .#{$column}s::after {
  display: block;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.#{$grid} {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: $grid-default-width;
  padding-left: $grid-space;
  padding-right: $grid-space;
  position: relative;
}

// Row

.#{$row} {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  position: relative;
  width: 100%;
}

// Column(s)

.#{$column}s, .#{$column} {
  box-sizing: border-box;
  flex: 1 0 100%;
  max-width: 100%;
  min-height: 1px;
  min-width: 0;
  padding-bottom: $column-bottom-padding-space;
  padding-left: $column-gutter-space;
  padding-right: $column-gutter-space;
  word-wrap: break-word;

  @if $column-order-classes == true {
    order: 999;
  }
}

//
// Grid, offset, and order classes generator
//

@each $name in $breakpoints {
  $break: nth($name, 1); // take only the name of the breakpoint, NOT its value.

  @include breakpoint-up($break) {
    @for $i from 1 through $columns {

      .#{$break}-#{$i} {
        flex: 0 0 percentage($i / $columns);
        max-width: percentage($i / $columns);
      }

      @if $column-offset-classes == true {
        .#{$break}-offset-#{$i} {
          margin-left: percentage($i / $columns);
        }
      }

      @if $column-order-classes == true {
        .#{$break}-order-#{$i} {
          order: $i;
        }
      }

    } // end @for
  } // end @include
} // end @each

@import 'utilities';
