// ------------------------------ *
//
// Utilities
//
// 1. Grid widths
// 2. Grid sections
// 3. Grid fullscreen
// 4. Grid fullscreen align classes
// 5. Column collapsing
//
// ------------------------------ *

.#{$grid} {

  // 1. Grid widths

  @each $name, $width in $grid-widths {
    &.#{$scope}#{$name} {
      max-width: $width;
    }
  }

  // 2. Grid sections

  @each $name, $padding in $grid-sections {
    &.#{$scope}#{$name}-section {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }

  // 3. Grid fullscreen and align classes

  .#{$scope}fullscreen {
    box-sizing: border-box;
    height: 100vh;
    max-width: unset;
    width: 100vw;

    .#{$row} {
      flex: 1 1 auto;
    }

    // 4. Grid fullscreen align classes

    .#{$row} {
      &.#{$scope}align-bottom {
        align-content: flex-end;
      }
      &.#{$scope}align-middle {
        align-content: center;
      }
      &.#{$scope}align-top    {
        align-content: flex-start;
      }
    }
  }

}

// 5. Column collapse

#{$row}.#{$scope}collapsed {
  .#{$column}s, .#{$column} {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
