@import 'form_styles';

@mixin form_with_tags {
  form,
  .form {
    background: $form-background;
    border: $form-border;
    box-shadow: $form-box-shadow;
    margin: $form-margin;
    padding: $form-padding;
  }

  // labels

  label,
  .label {
    display: flex;
    flex-direction: column;
    font-family: $form-font-family;
  }

  // input fields

  input[type=text],
  input[type=password], input[type=email],
  input[type=date], input[type=datetime-local],
  input[type=month], input[type=number],
  input[type=tel], input[type=search],
  input[type=time], input[type=url],
  input[type=week],
  textarea,
  .text-field, .text-area {
    background: $input-background;
    border-radius: $input-border-radius;
    border: $input-border;
    box-shadow: $input-box-shadow;
    display: flex;
    font-family: $input-font-family;
    font-size: $input-font-size;
    margin: $input-margin;
    padding: $input-padding;
  }

  textarea, input[type=text],
  .text-area { resize: $input-resize; }

  // input buttons

  input[type=button], input[type=submit],
  input[type=file], input[type=reset],
  button,
  .button {
    background: $input-button-background;
    border-radius: $input-button-border-radius;
    border: $input-button-border;
    box-shadow: $input-button-box-shadow;
    color: $input-button-color;
    cursor: pointer;
    display: flex;
    font-family: $input-button-font-family;
    font-size: $input-button-font-size;
    padding: $input-button-padding;

    &:hover, &:focus { background-color: $input-button-focus; }

    &.stretched {
      display: block;
      max-width: 100%;
      text-align: center;
      width: 100%;
    }
  }

  // radio & checkbox

  input[type=radio], input[type=checkbox],
  .radio, .checkbox {
    cursor: pointer;
    font-family: $form-font-family;
  }

  input[type=checkbox],
  input[type=radio],
  .checkbox,
  .radio {
    margin: $input-option-margin;
    padding: $input-option-padding;
  }

  .radio-row, .checkbox-row,
  .radio-column, .checkbox-column {
    margin-top: $input-option-margin-top;
    display: flex;

    label,
    .radio-label, .checkbox-label {
      align-items: center;
      flex-direction: row;
      margin-right: $input-option-label-margin-right;
    }
  }

  .radio-column, .checkbox-column {
    flex-direction: column;
  }
  .radio-row, .checkbox-row {
    flex-direction: row;
  }

  .radio-row input[type=radio],
  .radio-row .radio {
    margin-right: $input-option-label-margin-right;
  }
  .checkbox-row input[type=checkbox],
  .checkbox-row .checkbox {
    margin-right: $input-option-label-margin-right;
  }

  .radio-column label,
  .radio-column .radio-label {
    margin-bottom: $input-option-label-margin-bottom;
  }
  .checkbox-column label,
  .checkbox-column .checkbox-label {
    margin-bottom: $input-option-label-margin-bottom;
  }

  // fieldset

  fieldset,
  .fieldset {
    background: $fieldset-background;
    border-radius: $fieldset-border-radius;
    border: $fieldset-border;
    box-shadow: $fieldset-box-shadow;
    display: flex;
    margin: $fieldset-margin;
    padding: $fieldset-padding;

    legend,
    .legend {
      background: $fieldset-legend-background;
      border-radius: $fieldset-legend-border-radius;
      border: $fieldset-legend-border;
      box-shadow: $fieldset-legend-box-shadow;
      color: $fieldset-legend-color;
      font-family: $fieldset-legend-font-family;
      font-size: $fieldset-legend-font-size;
      padding: $fieldset-legend-padding;
    }
  }

  // disabled

  input[type=text], input[type=password],
  input[type=email], input[type=date],
  input[type=datetime-local], input[type=month],
  input[type=number], input[type=tel],
  input[type=search], input[type=time],
  input[type=url], input[type=week],
  input[type=submit], input[type=file], input[type=reset],
  textarea, button,
  .text-field, .text-area, .button {
    &:disabled {
      background: $input-disabled-background;
      border: $input-disabled-border;
      color: $input-disabled-color;
      cursor: not-allowed;
      resize: $input-disabled-resize;

      &:hover {
        background: $input-disabled-background;
        border: $input-disabled-border;
        color: $input-disabled-color;
      }
    }
  }
}
