form,
.form {
  margin: $form-margin;
  padding: $form-padding;
  background: $form-background;
  box-shadow: $form-box-shadow;
  border: $form-border;
}

label,
.label {
  display: flex;
  flex-direction: column;
  font-family: $form-font-family;
}

input[type=text],
.text-field, .text-area {
  font-size: $input-font-size;
  font-family: $input-font-family;
  display: flex;
  box-shadow: $input-box-shadow;
  border: $input-border;
  padding: $input-padding;
  margin: $input-margin;
  border-radius: $input-border-radius;
  background: $input-background;
}

textarea, input[type=text],
.text-area { resize: $input-resize; }

input[type=button], input[type=submit], button,
.button {
  display: flex;
  font-family: $input-button-font-family;
  padding: $input-button-padding;
  border-radius: $input-button-border-radius;
  font-size: $input-button-font-size;
  background: $input-button-background;
  border: $input-button-border;
  box-shadow: $input-button-box-shadow;
  color: $input-button-color;
  cursor: pointer;

  &:hover, &:focus { background-color: $input-button-focus; }

  &.stretched {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

// radio & checkbox

.radio-row, .checkbox-row,
.radio-column, .checkbox-column {
  display: flex;
  margin-top: $input-option-margin-top;

  label {
    margin-right: $input-option-label-margin-right;
    align-items: center;
    flex-direction: row;
  }
}

.radio-column, .checkbox-column {
  flex-direction: column;
}
.radio-row, .checkbox-row {
  flex-direction: row;
}

.radio-row .radio { margin-right: $input-option-label-margin-right; }
.checkbox-row .checkbox { margin-right: $input-option-label-margin-right; }

.radio-column label { margin-bottom: $input-option-label-margin-bottom; }
.checkbox-column label { margin-bottom: $input-option-label-margin-bottom; }

input[type=radio], input[type=checkbox],
.radio, .checkbox {
  cursor: pointer;
  font-family: $form-font-family;
}

input[type=radio],
.radio,
input[type=checkbox],
.checkbox {
  padding: $input-option-padding;
  margin: $input-option-margin;
}

// fieldset

fieldset,
.fieldset {
  display: flex;
  margin: $fieldset-margin;
  padding: $fieldset-padding;
  border: $fieldset-border;
  border-radius: $fieldset-border-radius;
  box-shadow: $fieldset-box-shadow;
  background: $fieldset-background;

  legend,
  .legend {
    font-family: $fieldset-legend-font-family;
    font-size: $fieldset-legend-font-size;
    padding: $fieldset-legend-padding;
    color: $fieldset-legend-color;
    border-radius: $fieldset-legend-border-radius;
    border: $fieldset-legend-border;
    box-shadow: $fieldset-legend-box-shadow;
    background: $fieldset-legend-background;
  }
}

// disabled

input[type=text]:disabled, button:disabled,
.text-field:disabled, .text-area:disabled,
.button:disabled,
.disabled {
  background: $input-disabled-background;
  color: $input-disabled-color;
  border: $input-disabled-border;
  cursor: not-allowed;
  resize: $input-disabled-resize;

  &:hover {
    background: $input-disabled-background;
    color: $input-disabled-color;
    border: $input-disabled-border;
  }
}
