
// <form>
@mixin form {
  background: $form-background;
  border: $form-border;
  box-shadow: $form-box-shadow;
  margin: $form-margin;
  padding: $form-padding;
}

// <label>
@mixin form_label {
  display: flex;
  flex-direction: column;
  font-family: $form-font-family;
}

// <input> and <textarea>
@mixin form_field {
  background: $input-background;
  border-radius: $input-border-radius;
  border: $input-border;
  box-shadow: $input-box-shadow;
  display: flex;
  font-family: $input-font-family;
  font-size: $input-font-size;
  margin: $input-margin;
  padding: $input-padding;
}

// <textarea>
@mixin form_textarea_resize {
  resize: $input-resize;
}

// type=radio and type=checkbox
@mixin form_option {
  cursor: pointer;
  font-family: $form-font-family;
  margin: $input-option-margin;
  padding: $input-option-padding;
}

// radio and checkbox helper spacing: e.g., radio-row and radio-column
@mixin form_option_layout {
  margin-top: $input-option-margin-top;
  display: flex;
}

// radio and checkbox <label> modifier
@mixin form_option_layout_label {
  align-items: center;
  flex-direction: row;
  margin-right: $input-option-label-margin-right;
}

// radio and checkbox helper direction
@mixin form_option_row {
  flex-direction: row;
}

@mixin form_option_column {
  flex-direction: column;
}

// radio-row and checkbox-row helper margin
@mixin form_option_row_margin {
  margin-right: $input-option-label-margin-right;
}

// radio-column and checkbox-column helper margin
@mixin form_option_column_margin {
  margin-bottom: $input-option-label-margin-bottom;
}

// <fieldset>
@mixin form_fieldset {
  background: $fieldset-background;
  border-radius: $fieldset-border-radius;
  border: $fieldset-border;
  box-shadow: $fieldset-box-shadow;
  display: flex;
  margin: $fieldset-margin;
  padding: $fieldset-padding;
}

// fieldset outer label: <legend>
@mixin form_legend {
  background: $fieldset-legend-background;
  border-radius: $fieldset-legend-border-radius;
  border: $fieldset-legend-border;
  box-shadow: $fieldset-legend-box-shadow;
  color: $fieldset-legend-color;
  font-family: $fieldset-legend-font-family;
  font-size: $fieldset-legend-font-size;
  padding: $fieldset-legend-padding;
}

// :disabled state on all input components
@mixin form_disabled_state {
  background: $input-disabled-background;
  border: $input-disabled-border;
  color: $input-disabled-color;
  cursor: not-allowed;
  resize: $input-disabled-resize;

  &:hover {
    background: $input-disabled-background;
    border: $input-disabled-border;
    color: $input-disabled-color;
  }
}
