html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.grid::before,
.grid::after,
.grid .row::before,
.grid .row::after,
.row .column::before, .row .column::after,
.row .columns::before, .row .columns::after {
  display: block;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0; }

.grid {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: 992px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative; }

.row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  position: relative;
  width: 100%; }

.columns, .column {
  box-sizing: border-box;
  flex: 1 0 100%;
  max-width: 100%;
  min-height: 1px;
  min-width: 0;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  word-wrap: break-word;
  order: 999; }

@media screen and (min-width: 0) {
  .xsmall-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .xsmall-offset-1 {
    margin-left: 8.33333%; }

  .xsmall-order-1 {
    order: 1; }

  .xsmall-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .xsmall-offset-2 {
    margin-left: 16.66667%; }

  .xsmall-order-2 {
    order: 2; }

  .xsmall-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .xsmall-offset-3 {
    margin-left: 25%; }

  .xsmall-order-3 {
    order: 3; }

  .xsmall-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .xsmall-offset-4 {
    margin-left: 33.33333%; }

  .xsmall-order-4 {
    order: 4; }

  .xsmall-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .xsmall-offset-5 {
    margin-left: 41.66667%; }

  .xsmall-order-5 {
    order: 5; }

  .xsmall-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .xsmall-offset-6 {
    margin-left: 50%; }

  .xsmall-order-6 {
    order: 6; }

  .xsmall-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .xsmall-offset-7 {
    margin-left: 58.33333%; }

  .xsmall-order-7 {
    order: 7; }

  .xsmall-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .xsmall-offset-8 {
    margin-left: 66.66667%; }

  .xsmall-order-8 {
    order: 8; }

  .xsmall-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .xsmall-offset-9 {
    margin-left: 75%; }

  .xsmall-order-9 {
    order: 9; }

  .xsmall-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .xsmall-offset-10 {
    margin-left: 83.33333%; }

  .xsmall-order-10 {
    order: 10; }

  .xsmall-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .xsmall-offset-11 {
    margin-left: 91.66667%; }

  .xsmall-order-11 {
    order: 11; }

  .xsmall-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .xsmall-offset-12 {
    margin-left: 100%; }

  .xsmall-order-12 {
    order: 12; } }
@media screen and (min-width: 576px) {
  .small-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .small-offset-1 {
    margin-left: 8.33333%; }

  .small-order-1 {
    order: 1; }

  .small-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .small-offset-2 {
    margin-left: 16.66667%; }

  .small-order-2 {
    order: 2; }

  .small-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .small-offset-3 {
    margin-left: 25%; }

  .small-order-3 {
    order: 3; }

  .small-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .small-offset-4 {
    margin-left: 33.33333%; }

  .small-order-4 {
    order: 4; }

  .small-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .small-offset-5 {
    margin-left: 41.66667%; }

  .small-order-5 {
    order: 5; }

  .small-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .small-offset-6 {
    margin-left: 50%; }

  .small-order-6 {
    order: 6; }

  .small-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .small-offset-7 {
    margin-left: 58.33333%; }

  .small-order-7 {
    order: 7; }

  .small-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .small-offset-8 {
    margin-left: 66.66667%; }

  .small-order-8 {
    order: 8; }

  .small-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .small-offset-9 {
    margin-left: 75%; }

  .small-order-9 {
    order: 9; }

  .small-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .small-offset-10 {
    margin-left: 83.33333%; }

  .small-order-10 {
    order: 10; }

  .small-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .small-offset-11 {
    margin-left: 91.66667%; }

  .small-order-11 {
    order: 11; }

  .small-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .small-offset-12 {
    margin-left: 100%; }

  .small-order-12 {
    order: 12; } }
@media screen and (min-width: 768px) {
  .medium-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .medium-offset-1 {
    margin-left: 8.33333%; }

  .medium-order-1 {
    order: 1; }

  .medium-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .medium-offset-2 {
    margin-left: 16.66667%; }

  .medium-order-2 {
    order: 2; }

  .medium-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .medium-offset-3 {
    margin-left: 25%; }

  .medium-order-3 {
    order: 3; }

  .medium-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .medium-offset-4 {
    margin-left: 33.33333%; }

  .medium-order-4 {
    order: 4; }

  .medium-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .medium-offset-5 {
    margin-left: 41.66667%; }

  .medium-order-5 {
    order: 5; }

  .medium-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .medium-offset-6 {
    margin-left: 50%; }

  .medium-order-6 {
    order: 6; }

  .medium-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .medium-offset-7 {
    margin-left: 58.33333%; }

  .medium-order-7 {
    order: 7; }

  .medium-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .medium-offset-8 {
    margin-left: 66.66667%; }

  .medium-order-8 {
    order: 8; }

  .medium-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .medium-offset-9 {
    margin-left: 75%; }

  .medium-order-9 {
    order: 9; }

  .medium-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .medium-offset-10 {
    margin-left: 83.33333%; }

  .medium-order-10 {
    order: 10; }

  .medium-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .medium-offset-11 {
    margin-left: 91.66667%; }

  .medium-order-11 {
    order: 11; }

  .medium-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .medium-offset-12 {
    margin-left: 100%; }

  .medium-order-12 {
    order: 12; } }
@media screen and (min-width: 992px) {
  .large-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .large-offset-1 {
    margin-left: 8.33333%; }

  .large-order-1 {
    order: 1; }

  .large-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .large-offset-2 {
    margin-left: 16.66667%; }

  .large-order-2 {
    order: 2; }

  .large-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .large-offset-3 {
    margin-left: 25%; }

  .large-order-3 {
    order: 3; }

  .large-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .large-offset-4 {
    margin-left: 33.33333%; }

  .large-order-4 {
    order: 4; }

  .large-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .large-offset-5 {
    margin-left: 41.66667%; }

  .large-order-5 {
    order: 5; }

  .large-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .large-offset-6 {
    margin-left: 50%; }

  .large-order-6 {
    order: 6; }

  .large-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .large-offset-7 {
    margin-left: 58.33333%; }

  .large-order-7 {
    order: 7; }

  .large-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .large-offset-8 {
    margin-left: 66.66667%; }

  .large-order-8 {
    order: 8; }

  .large-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .large-offset-9 {
    margin-left: 75%; }

  .large-order-9 {
    order: 9; }

  .large-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .large-offset-10 {
    margin-left: 83.33333%; }

  .large-order-10 {
    order: 10; }

  .large-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .large-offset-11 {
    margin-left: 91.66667%; }

  .large-order-11 {
    order: 11; }

  .large-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .large-offset-12 {
    margin-left: 100%; }

  .large-order-12 {
    order: 12; } }
@media screen and (min-width: 1200px) {
  .xlarge-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .xlarge-offset-1 {
    margin-left: 8.33333%; }

  .xlarge-order-1 {
    order: 1; }

  .xlarge-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .xlarge-offset-2 {
    margin-left: 16.66667%; }

  .xlarge-order-2 {
    order: 2; }

  .xlarge-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .xlarge-offset-3 {
    margin-left: 25%; }

  .xlarge-order-3 {
    order: 3; }

  .xlarge-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .xlarge-offset-4 {
    margin-left: 33.33333%; }

  .xlarge-order-4 {
    order: 4; }

  .xlarge-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .xlarge-offset-5 {
    margin-left: 41.66667%; }

  .xlarge-order-5 {
    order: 5; }

  .xlarge-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .xlarge-offset-6 {
    margin-left: 50%; }

  .xlarge-order-6 {
    order: 6; }

  .xlarge-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .xlarge-offset-7 {
    margin-left: 58.33333%; }

  .xlarge-order-7 {
    order: 7; }

  .xlarge-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .xlarge-offset-8 {
    margin-left: 66.66667%; }

  .xlarge-order-8 {
    order: 8; }

  .xlarge-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .xlarge-offset-9 {
    margin-left: 75%; }

  .xlarge-order-9 {
    order: 9; }

  .xlarge-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .xlarge-offset-10 {
    margin-left: 83.33333%; }

  .xlarge-order-10 {
    order: 10; }

  .xlarge-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .xlarge-offset-11 {
    margin-left: 91.66667%; }

  .xlarge-order-11 {
    order: 11; }

  .xlarge-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .xlarge-offset-12 {
    margin-left: 100%; }

  .xlarge-order-12 {
    order: 12; } }
.grid.fluid {
  max-width: 100%; }
.grid.narrow {
  max-width: 768px; }
.grid.wide {
  max-width: 1200px; }
.grid.small-section {
  padding-top: 48px;
  padding-bottom: 48px; }
.grid.medium-section {
  padding-top: 96px;
  padding-bottom: 96px; }
.grid.large-section {
  padding-top: 144px;
  padding-bottom: 144px; }
.grid.fullscreen {
  box-sizing: border-box;
  height: 100vh;
  max-width: unset;
  width: 100vw; }
  .grid.fullscreen .row {
    flex: 1 1 auto; }
  .grid.fullscreen .row.align-bottom {
    align-content: flex-end; }
  .grid.fullscreen .row.align-middle {
    align-content: center; }
  .grid.fullscreen .row.align-top {
    align-content: flex-start; }

.row.collapsed .columns, .row.collapsed .column {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

h1,
.h1 {
  font-size: 32px;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

h2,
.h2 {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

h3,
.h3 {
  font-size: 24px;
  margin-bottom: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

h4,
.h4 {
  font-size: 20px;
  margin-bottom: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

h5,
.h5 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

h6,
.h6 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 48px;
    margin-bottom: 24px; }

  h2,
  .h2 {
    font-size: 42px;
    margin-bottom: 24px; }

  h3,
  .h3 {
    font-size: 36px;
    margin-bottom: 21px; }

  h4,
  .h4 {
    font-size: 30px;
    margin-bottom: 18px; }

  h5,
  .h5 {
    font-size: 27px;
    margin-bottom: 15px; }

  h6,
  .h6 {
    font-size: 24px;
    margin-bottom: 15px; } }
@media screen and (min-width: 992px) {
  h1,
  .h1 {
    font-size: 64px;
    margin-bottom: 32px; }

  h2,
  .h2 {
    font-size: 56px;
    margin-bottom: 32px; }

  h3,
  .h3 {
    font-size: 48px;
    margin-bottom: 28px; }

  h4,
  .h4 {
    font-size: 40px;
    margin-bottom: 24px; }

  h5,
  .h5 {
    font-size: 36px;
    margin-bottom: 20px; }

  h6,
  .h6 {
    font-size: 32px;
    margin-bottom: 20px; } }
p,
.paragraph {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

input[type=button], input[type=submit],
input[type=file], input[type=reset],
button, .button {
  padding: 10px 16px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 0 16px 0;
  box-shadow: none;
  display: inline-block;
  text-align: center;
  cursor: pointer; }
  input[type=button]:visited, input[type=submit]:visited,
  input[type=file]:visited, input[type=reset]:visited,
  button:visited, .button:visited {
    background-color: gray;
    color: white; }
  input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus,
  input[type=file]:hover,
  input[type=file]:focus, input[type=reset]:hover, input[type=reset]:focus,
  button:hover,
  button:focus, .button:hover, .button:focus {
    background: #737373;
    color: white;
    text-decoration: none; }
  input[type=button]:active, input[type=submit]:active,
  input[type=file]:active, input[type=reset]:active,
  button:active, .button:active {
    background: #737373;
    color: white; }
  input[type=button].small, input[type=submit].small,
  input[type=file].small, input[type=reset].small,
  button.small, .button.small {
    padding: 8px 14px;
    font-size: 14px; }
  input[type=button].medium, input[type=submit].medium,
  input[type=file].medium, input[type=reset].medium,
  button.medium, .button.medium {
    padding: 12px 18px;
    font-size: 16px; }
  input[type=button].large, input[type=submit].large,
  input[type=file].large, input[type=reset].large,
  button.large, .button.large {
    padding: 16px 22px;
    font-size: 20px; }
  input[type=button].huge, input[type=submit].huge,
  input[type=file].huge, input[type=reset].huge,
  button.huge, .button.huge {
    padding: 20px 30px;
    font-size: 24px; }
  input[type=button].wide, input[type=submit].wide,
  input[type=file].wide, input[type=reset].wide,
  button.wide, .button.wide {
    display: block;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

a,
.link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: blue;
  text-decoration: none; }
  a:visited,
  .link:visited {
    color: blue; }
  a:hover, a:focus,
  .link:hover,
  .link:focus {
    color: #6666ff;
    text-decoration: underline; }
  a:active,
  .link:active {
    color: #6666ff; }

form,
.form {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0; }

label,
.label {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

input[type=text],
input[type=password], input[type=email],
input[type=date], input[type=datetime-local],
input[type=month], input[type=number],
input[type=tel], input[type=search],
input[type=time], input[type=url],
input[type=week],
textarea,
.text-field, .text-area {
  background: white;
  border-radius: 4px;
  border: 1px solid darkgray;
  box-shadow: none;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 8px 0 16px 0;
  padding: 12px; }

textarea, input[type=text],
.text-area {
  resize: vertical; }

input[type=radio], input[type=checkbox],
.radio, .checkbox {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 12px 0 0;
  padding: 0; }

.radio-row, .checkbox-row,
.radio-column, .checkbox-column {
  margin-top: 8px;
  display: flex; }
  .radio-row label,
  .radio-row .radio-label, .radio-row .checkbox-label, .checkbox-row label,
  .checkbox-row .radio-label, .checkbox-row .checkbox-label,
  .radio-column label,
  .radio-column .radio-label,
  .radio-column .checkbox-label, .checkbox-column label,
  .checkbox-column .radio-label, .checkbox-column .checkbox-label {
    align-items: center;
    flex-direction: row;
    margin-right: 12px; }

.radio-column, .checkbox-column {
  flex-direction: column; }

.radio-row, .checkbox-row {
  flex-direction: row; }

.radio-row input[type=radio],
.radio-row .radio,
.checkbox-row input[type=checkbox],
.checkbox-row .checkbox {
  margin-right: 12px; }

.radio-column label,
.radio-column .radio-label,
.checkbox-column label,
.checkbox-column .checkbox-label {
  margin-bottom: 16px; }

fieldset,
.fieldset {
  background: transparent;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: none;
  display: flex;
  margin: 0;
  padding: 32px; }
  fieldset legend,
  fieldset .legend,
  .fieldset legend,
  .fieldset .legend {
    background: black;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 8px; }

input[type=text]:disabled, input[type=text].disabled, input[type=password]:disabled, input[type=password].disabled,
input[type=email]:disabled,
input[type=email].disabled, input[type=date]:disabled, input[type=date].disabled,
input[type=datetime-local]:disabled,
input[type=datetime-local].disabled, input[type=month]:disabled, input[type=month].disabled,
input[type=number]:disabled,
input[type=number].disabled, input[type=tel]:disabled, input[type=tel].disabled,
input[type=search]:disabled,
input[type=search].disabled, input[type=time]:disabled, input[type=time].disabled,
input[type=url]:disabled,
input[type=url].disabled, input[type=week]:disabled, input[type=week].disabled,
input[type=submit]:disabled,
input[type=submit].disabled, input[type=file]:disabled, input[type=file].disabled, input[type=reset]:disabled, input[type=reset].disabled,
textarea:disabled,
textarea.disabled, button:disabled, button.disabled,
.text-field:disabled,
.text-field.disabled, .text-area:disabled, .text-area.disabled, .button:disabled, .button.disabled {
  background: lightgray;
  border: none;
  color: gray;
  cursor: not-allowed;
  resize: none; }
  input[type=text]:disabled:hover, input[type=text].disabled:hover, input[type=password]:disabled:hover, input[type=password].disabled:hover,
  input[type=email]:disabled:hover,
  input[type=email].disabled:hover, input[type=date]:disabled:hover, input[type=date].disabled:hover,
  input[type=datetime-local]:disabled:hover,
  input[type=datetime-local].disabled:hover, input[type=month]:disabled:hover, input[type=month].disabled:hover,
  input[type=number]:disabled:hover,
  input[type=number].disabled:hover, input[type=tel]:disabled:hover, input[type=tel].disabled:hover,
  input[type=search]:disabled:hover,
  input[type=search].disabled:hover, input[type=time]:disabled:hover, input[type=time].disabled:hover,
  input[type=url]:disabled:hover,
  input[type=url].disabled:hover, input[type=week]:disabled:hover, input[type=week].disabled:hover,
  input[type=submit]:disabled:hover,
  input[type=submit].disabled:hover, input[type=file]:disabled:hover, input[type=file].disabled:hover, input[type=reset]:disabled:hover, input[type=reset].disabled:hover,
  textarea:disabled:hover,
  textarea.disabled:hover, button:disabled:hover, button.disabled:hover,
  .text-field:disabled:hover,
  .text-field.disabled:hover, .text-area:disabled:hover, .text-area.disabled:hover, .button:disabled:hover, .button.disabled:hover {
    background: lightgray;
    border: none;
    color: gray; }

/*# sourceMappingURL=monolith.css.map */
