// Monolith CSS
// A super-powered CSS grid built for any page layout imagineable.

// 1. Global settings
// 2. Grid
// 3. Buttons

// 1. Global Settings

$default-space: 16px !default;
$project-font: inherit;

// 2. Grid

$scope: '' !default;

$column-order-classes: true;
$column-offset-classes: true;

$columns: 12 !default;
$order-threshold: 20 !default;
$container-default-width: 992px !default;

$container-space: $default-space;
$column-gutter-space: $default-space / 2;
$column-bottom-padding-space: $default-space;

$grid-classes: (
  container: $scope + 'container',
        row: $scope + 'row',
     column: $scope + 'column'
) !default;

$breakpoints: (
  $scope + xsmall: 0,
   $scope + small: 576px,
  $scope + medium: 768px,
   $scope + large: 992px,
  $scope + xlarge: 1200px
) !default;

$container-widths: (
   $scope + fluid: 100%,
  $scope + narrow: 768px,
    $scope + wide: 1200px
) !default;

$container-sections: (
   $scope + small: 48px,
  $scope + medium: 96px,
   $scope + large: 144px
) !default;

//
// 3. Buttons
//

$button-border: 0;
$button-border-radius: 0;
$button-background-color: lightgray;
$button-font: $project-font;
$button-font-size: 16px;
$button-padding: 12px $default-space;
$button-text-color: inherit;

$buttons: (
  $scope + small: (
    padding: 10px 14px,
    font-size: 14px
  ),
  $scope + medium: (
    padding: 12px 16px,
    font-size: 16px
  ),
  $scope + large: (
    padding: 16px 20px,
    font-size: 20px
  ),
  $scope + huge: (
    padding: 22px 28px,
    font-size: 24px
  )
) !default;
