// Monolith CSS
// A super-powered CSS grid built for any page layout imagineable.

// 1. Global settings
// 2. Grid
// 3. Buttons
// 4. Avatars

// -------------------------- * -------------------------- //

//
// 1. Global Settings
//

$default-font: inherit;
$default-space: 16px;
$default-font-size: 16px;

//
// 2. Grid
//

$scope: '' !default;

$grid-classes: (
  grid: 'grid',
  row: 'row',
  column: 'column'
) !default;

$grid-widths: (
  fluid: 100%,
  narrow: 768px,
  wide: 1200px
) !default;

$grid-sections: (
  small: 48px,
  medium: 96px,
  large: 144px
) !default;

$breakpoints: (
  $scope + xsmall: 0,
  $scope + small: 576px,
  $scope + medium: 768px,
  $scope + large: 992px,
  $scope + xlarge: 1200px
) !default;

$column-offset-classes: true;
$column-order-classes: true;

$columns: 12 !default;
$grid-width: 992px !default;
$order-threshold: 20 !default;

$column-padding-bottom: $default-space;
$column-gutter: $default-space / 2;
$grid-gutter: $default-space;
