// Monolith CSS
// A super-powered CSS grid built for any page layout imagineable.

// 1. Global settings
// 2. Grid
// 3. Buttons
// 4. Forms

// -------------------------- * -------------------------- //

//
// 1. Global Settings
//

$global-font: inherit;
$global-font-size: 16px;
$global-space: 16px;

$classes-only: false;

//
// 2. Grid
//

$scope: '' !default;

$grid-classes: (
  grid: 'grid',
  row: 'row',
  column: 'column'
) !default;

$grid-widths: (
  fluid: 100%,
  narrow: 768px,
  wide: 1200px
) !default;

$grid-sections: (
  small: 48px,
  medium: 96px,
  large: 144px
) !default;

$breakpoints: (
  $scope + xsmall: 0,
  $scope + small: 576px,
  $scope + medium: 768px,
  $scope + large: 992px,
  $scope + xlarge: 1200px
) !default;

$column-offset-classes: true;
$column-order-classes: true;

$columns: 12 !default;
$grid-width: 992px !default;
$order-threshold: 20 !default;

$column-padding-bottom: $global-space;
$column-gutter: $global-space / 2;
$grid-gutter: $global-space;

//
// 3. Buttons
//

$link-color: blue;
$link-decoration: none;
$link-decoration-hover: underline;
$link-font: $global-font;
$link-font-size: $global-font-size;
$link-hover: lighten($link-color, 20%);
$link-active: $link-hover;

$button-padding: 10px $global-space;
$button-border-radius: 4px;
$button-font-size: $global-font-size;
$button-font: $global-font;
$button-background: gray;
$button-background-hover: darken($button-background, 5%);
$button-background-active: $button-background-hover;
$button-border: none;
$button-box-shadow: none;
$button-decoration: none;
$button-decoration-hover: none;
$button-margin: 0 0 $global-space 0;
$button-color: white;
$button-color-hover: $button-color;
$button-color-active: $button-color;

$button-sizes: (
  small: (
    padding: 8px 14px,
    font-size: 14px
  ),
  medium: (
    padding: 12px 18px,
    font-size: 16px
  ),
  large: (
    padding: 16px 22px,
    font-size: 20px
  ),
  huge: (
    padding: 20px 30px,
    font-size: 24px
  )
);

//
// 4. Forms
//

$form-margin: 0;
$form-padding: 0;
$form-background: transparent;
$form-box-shadow: none;
$form-border: none;
$form-font: $global-font;

// inputs

$input-font-size: $global-font-size;
$input-font-family: $form-font;
$input-box-shadow: none;
$input-border: 1px solid darkgray;
$input-padding: 12px;
$input-margin: 8px 0 $global-space 0;
$input-border-radius: 4px;
$input-background: white;

// textarea resize

$input-resize: vertical;

// radio and checkbox

$input-option-row-padding-bottom: $global-space;
$input-option-padding: 0;
$input-option-margin: 0 12px 0 0;
$input-option-label-margin-right: 12px;
$input-option-label-margin-bottom: $global-space;
$input-option-margin-top: 8px;

// disabled

$input-disabled-background: lightgray;
$input-disabled-color: gray;
$input-disabled-border: none;
$input-disabled-resize: none;

// fieldset

$fieldset-border: 1px solid black;
$fieldset-border-radius: 4px;
$fieldset-box-shadow: none;
$fieldset-background: transparent;
$fieldset-margin: 0;
$fieldset-padding: $global-space * 2;

// fieldset legend

$fieldset-legend-font-family: $form-font;
$fieldset-legend-font-size: $global-font-size;
$fieldset-legend-padding: $global-space / 2;
$fieldset-legend-color: white;
$fieldset-legend-background: black;
$fieldset-legend-box-shadow: none;
$fieldset-legend-border: none;
$fieldset-legend-border-radius: 4px;
