{% include partials/code.html
  content='
  &lt;button disabled class="wide">Disabled Wide Button (no button class)&lt;/button>
  &lt;input class="wide" disabled type="submit" value="Disabled Wide Input Button (no button class)" />
  &lt;button disabled>Disabled Button (no classes)&lt;/button>
  &lt;input disabled type="submit" value="Disabled Input Button (no classes)" />

  &lt;button disabled class="button">Disabled Button&lt;/button>
  &lt;a class="button disabled">Disabled Link Button&lt;/a>
  &lt;input class="button" disabled type="submit" value="Disabled Input Button" />
' %}