.#{$scope}avatar {
  background-color: gray;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.#{$scope}badge {
  position: relative;
  &::after {
    background: white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    position: absolute;
  }
}

@each $name, $size in $avatar-sizes {
  .#{$scope}#{$name} {
    height: $size;
    width: $size;
  }
}

@each $name, $size in $avatar-badge-sizes {
  .#{$scope}#{$name}::after {
    background-size: $size $size;
    bottom: -0.1rem;
    height: $size;
    right: -0.1rem;
    width: $size;
  }
}

@each $name, $color in $avatar-badge-colors {
  .#{$scope}#{$name}::after {
    background: $color;
  }
}
