.trim-margin { margin: 0 !important; }
.trim-padding { padding: 0 !important; }

.trim-margin-top { margin-top: 0 !important; }
.trim-margin-right { margin-right: 0 !important; }
.trim-margin-bottom { margin-bottom: 0 !important; }
.trim-margin-left { margin-left: 0 !important; }

.trim-padding-top { padding-top: 0 !important; }
.trim-padding-right { padding-right: 0 !important; }
.trim-padding-bottom { padding-bottom: 0 !important; }
.trim-padding-left { padding-left: 0 !important; }