// Visibility modifiers

.is-visible { visibility: visible; }
.is-visually-hidden { visibility: hidden; }

// Display modifiers

.is-displayed-block { display: block; }
.is-displayed-flex { display: flex; }
.is-not-displayed { display: none; }
