// Define project base styles here,
// including spacing, borders, focus outlines, colors and type.

$scope: '';

$global-space: 16px;
$global-ease: ease-out 0.2s;

$global-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$global-font-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$global-monospace: monospace, monospace;
$global-font-size: 16px;

$global-border-radius: 4px;
$global-border-width: 2px;
$global-outline: none;

$primary-color: goldenrod;
$secondary-color: crimson;
$tertiary-color: teal;
$black: #000111;
$gray100: #111;
$gray200: #222;
$gray400: #444;
$gray600: #666;
$gray800: #888;
$gray900: #ddd;
$white: #ffffff;

$status-palette: (
  warning: khaki,
  success: green,
  destroy: red,
  notice: steelblue
);