input[type=button], input[type=submit],
input[type=file], input[type=reset],
button, .#{$scope}button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: $button-default-background;
  border-color: $button-default-border-color;
  border-radius: $button-border-radius;
  border-style: $button-border-style;
  border-width: $button-border-width;
  box-shadow: $button-box-shadow;
  box-sizing: border-box;
  color: $button-default-color;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: $button-font-size;
  font-style: $button-font-style;
  margin: $button-margin;
  padding: $button-padding;
  text-align: center;
  text-decoration: $button-decoration;

  &:visited, &:active {
    background-color: $button-default-background;
    border-color: $button-default-border-color;
    color: $button-default-color;
  }

  &:hover, &:focus {
    background: $button-default-background-hover;
    border-color: $button-default-border-color-hover;
    color: $button-default-color;
    text-decoration: $button-decoration;
  }
}

@import 'utilities';
