input[type=button], input[type=submit],
input[type=file], input[type=reset],
button, .#{$scope}button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: $button-border-radius;
  box-shadow: $button-box-shadow;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: $button-font-size;
  margin: $button-margin;
  padding: $button-padding;
  text-align: center;
  text-decoration: $button-decoration;
  border-width: 1px;
  border-style: solid;
  background: map-get($brand-palette, primary);
  border-color: map-get($brand-palette, primary);
  color: map-get($gray-palette, white);

  &:visited, &:active {
    background-color: map-get($brand-palette, primary);
    border-color: map-get($brand-palette, primary);
    color: map-get($gray-palette, white);
  }

  &:hover, &:focus {
    background: lighten(map-get($brand-palette, primary), 10%);
    border-color: lighten(map-get($brand-palette, primary), 10%);
    color: map-get($gray-palette, white);
    text-decoration: $button-decoration;
  }

  @each $type, $color in $button-brand-palette {
    &.#{$type} {
      border-color: $color;
      background-color: $color;
      color: map-get($gray-palette, white);

      &:visited, &:active {
        background-color: $color;
        border-color: $color;
        color: map-get($gray-palette, white);
      }

      &:hover, &:focus {
        background: lighten($color, 10%);
        border-color: lighten($color, 10%);
        color: map-get($gray-palette, white);
      }
    }
  }

  @each $type, $color in $button-status-palette {
    &.#{$type} {
      border-color: $color;
      background-color: $color;
      color: map-get($gray-palette, white);

      &:visited, &:active {
        background-color: $color;
        border-color: $color;
        color: map-get($gray-palette, white);
      }

      &:hover, &:focus {
        background: lighten($color, 10%);
        border-color: lighten($color, 10%);
        color: map-get($gray-palette, white);
      }
    }
  }

}

@import 'utilities';
