input[type=button], input[type=submit],
input[type=file], input[type=reset],
button, .#{$scope}button {

  // Sizes
  @each $size in $button-sizes {
    $button-size: nth($size, 1);

    $button-padding: map-deep-get($button-sizes, $button-size, padding);
    $button-font-size: map-deep-get($button-sizes, $button-size, font-size);

    &.#{$scope}#{$button-size} {
      font-size: $button-font-size;
      padding: $button-padding;
    }
  }

  @each $name, $color in $button-palette {
    &.#{$scope}#{$name} {
      background: $color;
      border-color: $color;
      color: find-invert-of($color);

      &:visited, &:active {
        background: $color;
        border-color: $color;
        color: find-invert-of($color);
      }

      &:hover, &:focus {
        background: lighten($color, 10%);
        border-color: lighten($color, 10%);
        color: find-invert-of($color);
      }

      &.#{$scope}outline {
        background: transparent;
        color: $color;

        &:visited, &:active {
          background: transparent;
          border-color: $color;
          color: $color;
        }

        &:hover, &:focus {
          background: transparent;
          border-color: lighten($color, 10%);
          color: lighten($color, 10%);
        }
      }

      &.#{$scope}clear {
        background: transparent;
        color: $color;
        border-color: transparent;

        &:visited, &:active {
          background: transparent;
          color: $color;
          border-color: transparent;
        }

        &:hover, &:focus {
          background: transparent;
          color: lighten($color, 10%);
          border-color: transparent;
        }
      }
    }
  }

  &.#{$scope}wide {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  &.#{$scope}outline {
    background: transparent;
    color: $button-default-color-invert;

    &:visited, &:active {
      background: transparent;
      color: $button-default-color-invert;
    }

    &:hover, &:focus {
      background: transparent;
      color: $button-default-color-invert-hover;
    }
  }

  &.#{$scope}clear {
    background: transparent;
    color: $button-default-color-invert;
    border-color: transparent;

    &:visited, &:active {
      background: transparent;
      color: $button-default-color-invert;
      border-color: transparent;
    }

    &:hover, &:focus {
      background: transparent;
      color: $button-default-color-invert-hover;
      border-color: transparent;
    }
  }

  &.#{$scope}invert {
    color: $button-default-color-invert;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;

    &:visited, &:active {
      background: white;
      color: $button-default-color-invert;
      border-color: white;
    }

    &:hover, &:focus {
      background: rgba(white, 0.8);
      color: $button-default-color-invert;
      border-color: rgba(white, 0.8);
    }
  }

  &.#{$scope}invert.#{$scope}outline {
    color: white;
    background: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;

    &:visited, &:active {
      background: transparent;
      color: white;
      border-color: white;
    }

    &:hover, &:focus {
      background: transparent;
      color: rgba(white, 0.8);
      border-color: rgba(white, 0.8);
    }
  }
}
