input[type=button], input[type=submit],
input[type=file], input[type=reset],
button, .#{$scope}button {

  // Sizes
  @each $size in $button-sizes {
    $button-size: nth($size, 1);

    $button-padding: map-deep-get($button-sizes, $button-size, padding);
    $button-font-size: map-deep-get($button-sizes, $button-size, font-size);

    &.#{$scope}#{$button-size} {
      font-size: $button-font-size;
      padding: $button-padding;
    }
  }

  @each $status, $color in $button-palette {
    &.#{$scope}#{$status} {
      background-color: $color;
      border-color: $color;
      color: $button-default-color;

      &:visited, &:active {
        background-color: $color;
        border-color: $color;
        color: $button-default-color;
      }

      &:hover, &:focus {
        background: lighten($color, 10%);
        border-color: lighten($color, 10%);
        color: $button-default-color;
      }

      &.#{$scope}outline {
        background-color: transparent;
        color: $color;

        &:visited, &:active {
          background-color: transparent;
          border-color: $color;
          color: $color;
        }

        &:hover, &:focus {
          background-color: transparent;
          border-color: lighten($color, 10%);
          color: lighten($color, 10%);
        }
      }

      &.#{$scope}clear {
        background-color: transparent;
        color: $color;
        border-color: transparent;

        &:visited, &:active {
          background-color: transparent;
          color: $color;
          border-color: transparent;
        }

        &:hover, &:focus {
          background-color: transparent;
          color: lighten($color, 10%);
          border-color: transparent;
        }
      }
    }
  }

  &.#{$scope}wide {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  &.#{$scope}outline {
    background-color: transparent;
    color: $button-default-background;

    &:visited, &:active {
      background-color: transparent;
      color: $button-default-background;
    }

    &:hover, &:focus {
      background-color: transparent;
      color: $button-default-background-hover;
    }
  }

  &.#{$scope}clear {
    background-color: transparent;
    color: $button-default-background;
    border-color: transparent;

    &:visited, &:active {
      background-color: transparent;
      color: $button-default-background;
      border-color: transparent;
    }

    &:hover, &:focus {
      background-color: transparent;
      color: $button-default-background-hover;
      border-color: transparent;
    }
  }

}
